@model LivrariaHBSIS.Web.ViewModel.LivroViewModel

@{
    ViewBag.Title = "Detalhes";
}
<div class="row">
    <div class="col s12 m12">
        <div class="card animated fadeInRight">
            <div class="card-content">
                <span class="card-title"> @Html.DisplayFor(model => model.Titulo)</span>
                <div class="row">
                    <div class="col s12 m12 right-align">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn" })
                        @Html.ActionLink("Voltar", "Index", new object { }, new { @class = "btn" })
                    </div>
                </div>
                <div class="row">
                    <dl>
                        <dt>
                            <b>@Html.DisplayNameFor(model => model.Titulo):</b>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Titulo)
                        </dd>

                        <dt>
                            <b>@Html.DisplayNameFor(model => model.Descricao):</b>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>

                        <dt>
                            <b>@Html.DisplayNameFor(model => model.GeneroSelecionado):</b>
                        </dt>

                        <dd>
                            @if (Model.GeneroLivro != null)
                            {
                                @Html.DisplayFor(model => model.GeneroLivro.Descricao)
                            }

                        </dd>

                        <dt>
                            <b> @Html.DisplayNameFor(model => model.AutorSelecionado):</b>
                        </dt>

                        <dd>
                            @if (Model.AutorPrincipal != null)
                            {
                                @Html.DisplayFor(model => model.AutorPrincipal.Nome)
                            }
                        </dd>

                        <dt>
                            <b>@Html.DisplayNameFor(model => model.EditoraSelecionada):</b>
                        </dt>

                        <dd>
                            @if (Model.EditoraPublicacao != null)
                            {
                                @Html.DisplayFor(model => model.EditoraPublicacao.Nome)
                            }
                        </dd>

                        <dt>
                            <b>@Html.DisplayNameFor(model => model.AnoPublicacao):</b>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AnoPublicacao)
                        </dd>

                        <dt>
                            <b>@Html.DisplayNameFor(model => model.Isbn):</b>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Isbn)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>